.slider-container {
    transition: transform 0.5s ease-in-out;
    
  }
  
  .no-scrollbar::-webkit-scrollbar { display: none; }
  .no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
  .no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  
}
.rank-number {
    font-family: 'Anton', sans-serif;
  }
  